[Unit]
Description=Encrypted swap %I
Documentation=man:crypttab(5) man:systemd-cryptsetup-generator(8) man:systemd-cryptsetup@.service(8)

DefaultDependencies=no
After=cryptsetup-pre.target systemd-udevd-kernel.socket
Before=blockdev@dev-mapper-swap\x2d%i.target
Wants=blockdev@dev-mapper-swap\x2d%i.target
IgnoreOnIsolate=true
Conflicts=umount.target
Before=umount.target
After=systemd-random-seed.service
BindsTo=dev-mapper-swap\x2d%i.device
After=dev-mapper-swap\x2d%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutSec=infinity
ExecStart=/usr/lib/systemd/systemd-cryptsetup attach 'swap-%I' '/dev/disk/by-partuuid/%I' '/dev/urandom' 'swap,discard,nofail'
ExecStop=/usr/lib/systemd/systemd-cryptsetup detach 'swap-%I'
ExecStartPost=/usr/lib/systemd/systemd-makefs swap '/dev/mapper/swap-%I'
