[Unit]
Description=%f system persistent state
Wants=systemd-makefs@dev-vgsys-%j.service
After=systemd-makefs@dev-vgsys-%j.service
Requires=systemd-fsck@dev-vgsys-%j.service
After=systemd-fsck@dev-vgsys-%j.service
After=blockdev@dev-vgsys-%j.target

[Mount]
What=/dev/vgsys/%J
Options=nosuid,nodev

[Install]
WantedBy=local-fs.target
