.venv/
mkosi.tools/
mkosi.cache/*
!mkosi.cache/.keep
mkosi.crt
mkosi.key
mkosi.rootpw
mkosi.passphrase
mkosi.local.conf
mkosi.output/

tmp/
# Secureboot keys
/keys/

# SELinux binary policy package files
*.pp
